<div class="container">
    <div class="jumbotron">
        <h1>Eat-Da-Burger!</h1>
    </div>
    

    {{#each burger}}
    <p>Flavor:{{name}}</p>
    <p>Price:{{price}}</p>
    <p>Awesomeness:{{awesomeness}}</p>
    <hr>
    {{/each}}

</div>