<link>

<div class="container">

<div class="jumbotron">
    <h1>Eat-Da-Burger!</h1>
    <img src="/assets/images/stockBurger.jpg">
</div>

<h2>PREPARED</h2>
 <ul>
    {{#each burgers}}
        {{#unless devoured}}
            <h3>{{name}}</h3>
        {{/unless}}
    {{/each}}
 </ul>


<h2>DEVOURED</h2>
<ul>
    {{#each burgers}}
        {{#unless prepared}}
            <h3>{{name}}</h3>
        {{/unless}}
    {{/each}}
 </ul>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="../public/js/burger.js"></script>
  </body>
</html>